<h1>Course Listing</h1>

<ul>
  <li>Code: CS111</li>
  <li>Name: Intro to Science</li>
  <li>Description: blablabla</li>
</ul>

<ul>
  <li>Code: CS112</li>
  <li>Name: Intro to Science</li>
  <li>Description: blablabla</li>
</ul>
